html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.blue-to-cyan {
    
    font-weight: bold;
    background: linear-gradient(to right, #0d6efd, #0dcaf0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cyan-to-blue {
    
    font-weight: bold;
    background: linear-gradient(to right, #0dcaf0, #0d6efd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-blue-to-cyan {
    font-weight: bold;
    background: linear-gradient(to right, #0d6efd, #0dcaf0);
    color: white; /* Optional: Adjust text color to improve readability */
}

.bg-cyan-to-blue {
    font-weight: bold;
    background: linear-gradient(to right, #0dcaf0, #0d6efd);
    color: white; /* Optional: Adjust text color to improve readability */
}
.bg-red-to-orange {
    font-weight: bold;
    background: linear-gradient(to right, #dc3545, #fd7e14); /* Red to Orange */
    color: white; /* Ensures text visibility */
}

.bg-red-to-pink {
    font-weight: bold;
    background: linear-gradient(to right, #dc3545, #ff6393); /* Red to Pink */
    color: white; /* Ensures text visibility */
}

.btn:hover {
    color: white
}

