@model IST4310FInalProject.Models.Education

<div class="container display-6">
    <div class="row">
        <p class="fs-1">Add Education</p>
        <div class="col-6">
            <form method="post" class="row">
                <input asp-for="Id" type="hidden" />
                <!-- Hidden StudentInfoId field -->
                <input asp-for="StudentInfoId" type="hidden" />

                <div class="form-floating mb-3">
                    <input asp-for="SchoolName" class="form-control" aria-required="true" />
                    <label asp-for="SchoolName" style="margin-left: 10px" class="form-label fs-6">School Name</label>
                    <span asp-validation-for="SchoolName" class="text-danger mt-0 fs-5"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="City" class="form-control" aria-required="true" />
                    <label asp-for="City" style="margin-left: 10px" class="form-label fs-6">City</label>
                    <span asp-validation-for="City" class="text-danger mt-0 fs-5"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="State" class="form-control" aria-required="true" />
                    <label asp-for="State" style="margin-left: 10px" class="form-label fs-6">State</label>
                    <span asp-validation-for="State" class="text-danger mt-0 fs-5"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Degree" class="form-control" aria-required="true" />
                    <label asp-for="Degree" style="margin-left: 10px" class="form-label fs-6">Degree</label>
                    <span asp-validation-for="Degree" class="text-danger mt-0 fs-5"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Major" class="form-control" aria-required="true" />
                    <label asp-for="Major" style="margin-left: 10px" class="form-label fs-6">Major</label>
                    <span asp-validation-for="Major" class="text-danger mt-0 fs-5"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Gpa" type="number" class="form-control" aria-required="true" />
                    <label asp-for="Gpa" style="margin-left: 10px" class="form-label fs-6">GPA</label>
                    <span asp-validation-for="Gpa" class="text-danger mt-0 fs-5"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StartDate" type="date" class="form-control" aria-required="true" value="" />
                    <label asp-for="StartDate" style="margin-left: 10px" class="form-label fs-6">Start Date</label>
                    <span asp-validation-for="StartDate" class="text-danger mt-0 fs-5"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="EndDate" type="date" class="form-control" aria-required="true" value="" />
                    <label asp-for="EndDate" style="margin-left: 10px" class="form-label fs-6">End Date</label>
                    <span asp-validation-for="EndDate" class="text-danger mt-0 fs-5"></span>
                </div>


                <div class="col-6 col-md-3">
                    <button type="submit" class="btn bg-blue-to-cyan form-control">Save</button>
                </div>

                <div class="col-6 col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn bg-red-to-pink form-control border">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
