@model Project

<div class="container display-6">
    <div class="row">
        <p class="fs-1  ">Projects</p>
        <div class=" col-lg-6 col-md-8 col-sm-10 ">
            <form method="post" class="row">
                <input asp-for="Id" type="hidden" />
                <!-- Hidden UserId field -->
                <input asp-for="StudentInfoId" type="hidden" />
                    <div class="form-floating mb-3">
                        <input asp-for="Title" class="form-control" aria-required="true" />
                    <label asp-for="Title" style="margin-left: 10px" class="form-label fs-6">Title Of Project</label>
                    <span asp-validation-for="Title" class="text-danger mt-0 fs-5"></span>
                    </div>
                <div class="form-floating mb-3">

                    <textarea id="tiny" asp-for="Description" class="display-6" aria-required="true" placeholder="Description Of Project" style="height: 100px;"></textarea>
                    <span asp-validation-for="Description" class="text-danger fs-5"></span>
                </div>


                <div class="form-floating mb-3">
                    <textarea asp-for="TechnologiesUsed" class="form-control" aria-required="true" style="height: 100px;"></textarea>
                    <label asp-for="TechnologiesUsed" style="margin-left: 10px" class="form-label fs-6">Skills used seperate with comma</label>
                    <span asp-validation-for="TechnologiesUsed" class="text-danger fs-5"></span>
                </div>

               
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn bg-blue-to-cyan form-control">Save</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Home" asp-action="Index" class="btn bg-red-to-pink form-control border">Back</a>
                    </div>
              
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
                  plugins: 'lists',
        toolbar: 'bold | numlist bullist'


         });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
