
@model StudentInfo



<div class="container d-flex display-6 ">
    <div class="row align-items-center w-100">
        <!-- Welcome Section -->
        <div class="col-lg-6">
            <div class="jumbotron">
                 @if(Model != null) {
                    <p class="fs-1  ">Welcome <span class="cyan-to-blue">@Model.FirstName @Model.LastName</span> </p>
                    <p class=" fs-2 ">Every great journey begins with the right tools. Let's get started!</p>
                }
                else {
                    <h1 class=" text-dark">Add Some More Information To Get a Better Experience</h1>
                    <a asp-controller="Home" asp-action="UpsertStudentInfo" class="btn btn-primary ">Add Info</a>
                } 
                
            </div>
        </div>
        <!-- Image Section -->
        <div class="col-lg-6 mt-5">
            <div>
                <img class="w-100 img-fluid shadow rounded" src="~/img/aibuilderpic.jpg" alt="CSUSB Welcome Image" />
            </div>
        </div>
    </div>



</div>

<div class="container display-6 mt-5">
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="card shadow border-0 h-100 d-flex flex-column">
                <div class="card-body text-center d-flex flex-column">
                    <h5 class=" fs-4 card-title text-primary">Build Your Resume</h5>
                    <p class="card-text flex-grow-1 fs-5">Build Your Resume with Our Resume Builder Tool</p>
                    <div class="row justify-content-center d-flex">
                        <div>
                            <a  asp-controller="Home" asp-action="Resume" class="btn btn-primary mt-auto w-auto fs-6">Build Resume</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="col-lg-6">
            <div class="card shadow border-0 h-100 d-flex flex-column">
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title text-info fs-4">Analyze Your Resume With AI</h5>
                    <p class="card-text flex-grow-1 fs-5">Analyze your Resume With Our AI Tool to see if your ready for your dream job</p>
                    <div class="row justify-content-center d-flex">
                        <div>
                            <a asp-controller="AI" asp-action="AnalyzeAI" class="btn btn-info mt-auto text-white w-auto fs-6">Analyze Resume</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>